name: Bench Validation
on:
  push:
  workflow_dispatch:

jobs:
  bench:
    name: Bench ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]
        version: [8, 9, 10, 11]
    
    steps:
    - name: Set up GCC ${{matrix.version}}
      uses: egor-tensin/setup-gcc@v1
      with:
        version: ${{matrix.version}}
        platform: x64

    - uses: actions/checkout@v2

    - name: Compile
      run: cd src && make basic

    - name: Bench
      run: |
        bench=$(git show --summary | grep -Po '(?<=Bench: )[0-9]+?(?=$)')
        ./src/berserk bench > output
        real=$(grep 'Results:' output | grep -Po '(?<=[\s]{5})[0-9]+?(?= nodes)')
        if [[ "$bench" != "$real" ]]; then echo "got $real, expected $bench" && exit 1; fi
